

.image{
  width:50%;
  height:50%;
}


.list-item-inline{
  display: inline;
  list-style-type: none;
  padding: 0.5rem;
}

.card-footer{
  background-color: none;
}

.card-footer * {
  margin-right:15px;
  margin-bottom:15px;
}


