.chip{
    background-color:white;
    border-color: var(--primary-color);
    border-style: solid;
    border-radius: 10rem;
    padding:0.8rem;
    font-size:0.8rem;
    font-weight: bold;
}
.chip:hover, .selected-chip{
    background-color:var(--primary-color);
    border-color: white;
    color:white;
    transition: 0.3s;
    cursor: "pointer";

}

.outer-chip{
    padding-right: 1%;
}
