.chip{
    background-color:white;
    border-color: var(--primary-color);
    border-style: solid;
    border-radius: 9999px;
    padding:1rem;
    font-size:1rem;
    font-weight: bold;
}
.chip:hover{
    background-color:var(--primary-color);
    border-color: white;
    color:white;
    transition: 0.3s;
    cursor: "pointer";

}

.outer-chip{
    padding-right: 1%;
}