@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
:root{
  --primary-color:#FF0000;
}

.App {
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

.logo{
  width:350px;
  height:250px;
}

.heading{
  font-size: 2.5rem;
  margin-top:-2rem;
}

.chips{
  display:flex;
  justify-content: center;
  padding-right:1.2rem;

}

.chip-button{ 
  border: none;
  background-color: transparent;
  border: 0px solid;
}

.chip-button:focus{
  outline: none;
}

.cards{
  display:flex;
  justify-content: center;
  padding:2rem;
}