@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
:root{
  --primary-color:#FF0000;
  --almost-black: #282828;
  --dark-primary: #ca1616;
}

.App {
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

.logo{
  width:350px;
  height:250px;
}

.youtube{
  background-color: var(--almost-black);
  display: inline-block;
  border-radius: 28px;
  padding:0.7rem;
  color:white;
}

.youtube:hover{
  background-color: var(--dark-primary);
  transition:0.32s;
}

.heading{
  font-size: 2.5rem;
  margin-top:-1.5rem;
}

.chips{
  display:flex;
  justify-content: center;
  padding-right:1rem;
  padding-top:2rem;

}

@media only screen and (max-width: 768px) {
 .chips {
    display:block;
  }
  .chips *{
    padding-top:0.5rem;
  }
}

.chip-button{ 
  border: none;
  background-color: transparent;
  border: 0px solid;
}

.chip-button:focus{
  outline: none;
}

.cards{
  display:flex;
  justify-content: center;
  padding: 3.5rem;
  padding-top:2rem;
  flex-wrap: wrap;
}